{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Editar Pagamento</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Pagamento</button>
            </form>
        </div>
    </div>
    <a href="{% url 'payment_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para lista de Pagamentos</a>  
</div>

{% endblock %}