{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6"> Detalhes do Banco</h3>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{object.name}}</h3>
                <p class="card-text"><strong>Tipo de conta:</strong> {{object.account_type}}</p>
                <p class="card-text"><strong>Agência:</strong> {{object.agency}}</p>
                <p class="card-text"><strong>Conta:</strong> {{object.account}}</p>
            </div>
        </div>
        <a href="{% url 'bank_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de bancos</a>
    </div>

{% endblock %}